/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Type
*/

@font-face {
    font-family: 'Iosevka';
    font-weight: 400;
    font-style: normal;
    src: local('Iosevka'), url('/fontes/Iosevka_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka';
    font-weight: 300;
    font-style: normal;
    src: local('Iosevka Light'), url('/fontes/Iosevka_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka';
    font-weight: 700;
    font-style: normal;
    src: local('Iosevka Bold'), url('/fontes/Iosevka_Bold.ttf') format('truetype');
}

body {
    color: #222;
    font-family: 'Iosevka', Roboto, DejaVu Sans, sans-serif;
    font-size: 100%;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 39.9375em) { /* Small only */
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }
    h4 { font-size: 1rem; }
}
@media screen and (min-width: 40em) { /* Medium only */
    h1 { font-size: 3.5rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 1.75rem; }
    h4 { font-size: 1.5rem; }
}

/* Custom styles
*/
a {
    outline: 0;
    text-decoration: none;
    border-bottom: 2px solid #ccc;
    color: #222;
}

html, body, .wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.column {
    flex-basis:100%;
}

#filters {
    background-color: #eee;
    padding: 2.5rem 1rem;
    max-width: 20%;
}

#filters h2 {
    font-weight: 300;
    margin-bottom: 1rem;
}

#filters h5 {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#filters li {
    line-height: 1.2;
    margin-top: 0.25rem;
}

#filters li a {
    border-bottom: 0;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 700;
    letter-spacing: 1px;
}

#filters li a::before {
    content: ' ';
    display: inline-block;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

#filters li a#all::before {
    background: -moz-linear-gradient(-45deg, rgba(212,0,0,0.7) 0%, rgba(212,0,0,0.7) 50%, rgba(0,0,255,0.5) 51%, rgba(0,0,255,0.5) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(212,0,0,0.7) 0%,rgba(212,0,0,0.7) 50%,rgba(0,0,255,0.5) 51%,rgba(0,0,255,0.5) 100%);
    background: linear-gradient(135deg, rgba(212,0,0,0.7) 0%,rgba(212,0,0,0.7) 50%,rgba(0,0,255,0.5) 51%,rgba(0,0,255,0.5) 100%);
}

#filters li a#female::before {
    background: rgba(212, 0, 0, 0.7);
}

#filters li a#male::before {
    background: rgba(0, 0, 255, 0.7);
}

#map {
    height: 100%;
}


